<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.GeneralSlotMapper">

    <select id="findById" resultType="java.util.HashMap">
        SELECT id, quality_code AS qualityCode, troop_type AS troopType, slot_index AS slotIndex,
               type, base_attack AS baseAttack, base_defense AS baseDefense, base_valor AS baseValor,
               base_command AS baseCommand, base_dodge AS baseDodge, base_mobility AS baseMobility,
               base_power AS basePower, sort_order AS sortOrder, is_virtual AS isVirtual
        FROM general_slot
        WHERE id = #{id}
    </select>

</mapper>
