<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.SecretRealmPityMapper">

    <select id="findByUserAndRealm" resultType="java.util.HashMap">
        SELECT id, user_id, realm_id, count_since_equip, total_explore_count,
               total_equip_count, last_equip_time, daily_count, daily_reset_date, update_time
        FROM secret_realm_pity
        WHERE user_id = #{userId} AND realm_id = #{realmId}
    </select>

    <insert id="upsert">
        INSERT INTO secret_realm_pity (user_id, realm_id, count_since_equip, total_explore_count,
                                       total_equip_count, last_equip_time, daily_count, daily_reset_date, update_time)
        VALUES (#{userId}, #{realmId}, #{countSinceEquip}, #{totalExploreCount},
                #{totalEquipCount}, #{lastEquipTime}, #{dailyCount}, #{dailyResetDate}, #{updateTime})
        ON DUPLICATE KEY UPDATE
            count_since_equip = #{countSinceEquip},
            total_explore_count = #{totalExploreCount},
            total_equip_count = #{totalEquipCount},
            last_equip_time = #{lastEquipTime},
            daily_count = #{dailyCount},
            daily_reset_date = #{dailyResetDate},
            update_time = #{updateTime}
    </insert>

</mapper>
