<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.SuitConfigMapper">

    <select id="findAll" resultType="java.util.HashMap">
        SELECT * FROM suit_config
    </select>

    <select id="findById" resultType="java.util.HashMap">
        SELECT * FROM suit_config WHERE suit_id = #{suitId}
    </select>

    <select id="findByName" resultType="java.util.HashMap">
        SELECT * FROM suit_config WHERE name = #{name} LIMIT 1
    </select>

    <select id="findByEquipId" resultType="java.util.HashMap">
        SELECT * FROM suit_config WHERE FIND_IN_SET(#{equipId}, equip_ids) > 0
    </select>

</mapper>
